body {
  background: linear-gradient(to bottom, #bdc3c7 0%, #e0eafc 100%);
}

h2 {
  font-family: 'Sacramento', Helvetica, Calisto MT, fantasy;
}

p {
  font-family: "Noto Sans JP", sans-serif;
  text-decoration: overline;
  font-size: 17px;
  }

span {
  font-family: 'Noto Sans JP';
}
 ul {
   text-align: left;
 }

.top-box {
  text-align: center;
  padding: 50px;
  margin-bottom: 400px;
  margin-top: 320px;
}
.firstbox {
  font-family: 'Russo One', Helvetica, Calisto MT, fantasy;
  text-align: center;
  padding: 2px;
  color: #000;
  margin-top: 100px;
}

.top-box img {
  width: 40px;
}

.firstbox img {
  width: 200px;
  border: 10px solid transparent;
}

.firstbox h1 {
  font-size: 20px;
}

.secondbox {
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 200px;
  text-align: center;
}

.firstgen {
  margin-top: 10px;
  text-align: center;
}
.secondgen {
    margin-top: 10px;
    text-align: center;
  }

  .thirdgen {
    margin-top: 10px;
    text-align: center;
  }

.namelist {
  text-align: center;
  padding: 20px;
  background: linear-gradient(to bottom, #ffffff 0%, #c4e0e5 100%);
  color: #000;
  border-radius: 50px;
}

.inkar {
  margin: auto;
  margin-bottom: 20px;
}
footer {
  position: fixed;
 left: 0;
 bottom: 0;
 width: 100%;
 background-color: #434343;
 color: grey;
 text-align: center;
 font-size: 12px;
}
/* table */
#customers {
  font-family: "Noto Sans JP", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  text-align: justify;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 2px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #c4e0e5;
  color: white;
}
